// Colorings for draft purposes
#app {
  background: #b4fae5;
}

.page-header {
  background: #d9e9f7;
}

.aside {
  .container {
    background: white;
  }
}

.main {
  .container {
  }
}

.page-footer {
  background: #d9e9f7;
}
