// Colors
$color__link: $color__royal-blue;
$color__input-border: $color__shuttle-grey;
$color__check: $color__white;
$background__check: $color__shuttle-grey;
$background__button: $color__shuttle-grey;

// Line heights
$line-height__button: 2.5rem;
$line-height__input-normal: 1.4rem;

// Spacing
$padding__input: 0.5rem 1rem;
$padding__button: 0.2rem 1rem;
$margin__form-field: 1rem;
$margin__form-label: 0.25rem;

// Sizes
$size__inputs-buttons: 3rem;
$size__checkbox: 1.4rem;

// Icons
$icon__check: " \f00c" !default;
$icon__radio: "\f192" !default;
